/*	Chris  Bunting
	Web design project 
	Home/About/ gallery pages CSS
	ITD 210
	11/30/2022 */
	
	/*most of the code from this pages will be used in following pages so they will have the same look*/
	/*I added padding around the body of the page to create a white border around the page*/
	
	/* Client requested fonts of Afrah and Abhaya Libre.  Currently not available for webpage. Fonts appear as second option "Georgia" */ 
	body {
		font-family: Afrah, Georgia, serif;
		font-size: 100%;
		width: 100%;
		padding: 25px;
		background-color:#ffffff;
		
		}
	
	header{
		background-color: #ffffff;
		height: 30%;
		width:100%;
	}
		
	
	div > h1 {
		font-size: 4.0em;
		font-family: Afrah, Georgia, serif;
		color:#395186;
		font-weight: bold;
	}

	div > h2 {
		font-size: 2.8em;
		font-family: Afrah, Georgia, serif;
		color:#395186;
	}
	div > h3 {
		font-size: 2.2em;
		font-family: Afrah, Georgia, serif;
		color:#ffffff;
	}
	div > h4 {
		font-size: 2.2em;
		font-family: Afrah, Georgia, serif;
		color:#395186;
	}
	p {
		font-size: 2.2em;
		font-family: Abhaya Libre, Georgia, serif;
		color:#395186;
		padding:20px;
		
	}
	
	
	/*Andie logo*/
	.logo-head{
		background-color: #AAC9D1;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
		border-radius: 30px;
		padding: 10px;
		margin: 25px 0px 25px;
	}	
	/* This is old code for non animated logo in case we decide to switch back
	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:390px; 
		height:auto;
		border-radius: 50%;
		position:relative;
		
		} */
	
	
	.nav{
		background-color: #AAC9D1;
	/*this code is for navbar name and list items color navbar ids were used to override Bootstrap color coding* help with accessability issues */
	}
	#navcolor1 {
		color:#395186;
		font-weight: bold;
		}
	#navcolor2 {
		color:#395186;
		font-weight: bold;
	}
	#navcolor3 {
		color:#395186;
		font-weight: bold;
	}
	
	/* padding added to the top of body for the navbar to stick and not cover content. (after bootstrap code) */
	body { 
		padding-top: 120px;
						
	}
	#pagename {
		color: #395186;
		font-size:30px;
		font-weight: bold;
	}
	#navcolor1:hover {
		color: #FFCC00;
		text-shadow: 2px 2px 4px #395186;
		text-decoration: none;
		}
	#navcolor2:hover {
		color: #FFCC00;
		text-shadow: 2px 2px 4px #395186;
		text-decoration: none;
		}
	#navcolor3:hover {
		color: #FFCC00;
		text-shadow: 2px 2px 4px #395186;
		text-decoration: none;
		}
	.carousel {
		border-style: solid;
		border-width: 5px;
		border-color: #395186; 
		border-radius: 30px;
		overflow: hidden;
		
			}
	.carousel-inner {
		height: auto;
		object-fit: scale-down;
		border-radius: 30px;
		
		
	}
	
	#caroback {
			border-radius: 25px;}
	
	/*extra CSS for navigation area of page*/
	.container {
		background-color: #AAC9D1;
		color: #000000;
		padding: 20px; 
		box-sizing: border-box;
		font-size: 25px;
		width: auto;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
		border-radius: 30px;
		margin: 25px 25px 5px 25px;
					}
	
	
	/*Contact us section and button code*/
	
	.Contus {
		text-align:center;
		width:100%;
		padding: 20px;
		color: black;
		float: center;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
		border-radius: 30px;
		background-color: #AAC9D1;
		
		}
	.Cus-btn{
		text-align: center;
		padding: 10px;
		font-size: 20px;
		background-color: #395186;
		border-radius: 12px;
		color: #FFCC00;
		text-decoration: none;
		}
	.Cus-btn:hover {
		opacity: 0.7;
		color: #FFCC00;
		text-decoration: none;
	}
	.Cus-btn:visited {
		text-align: center;
		padding: 10px;
		font-size: 20px;
		background-color: #395186;
		border-radius: 12px;
		color: #FFCC00;
		text-decoration: none;
		}	
		
	
	
		
	/*Main section of the home page. contains welcome message*/
	.words {
		background-color: #AAC9D1;
		padding:20px;
		float: center;
		text-align: center;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
		border-radius: 30px;
		padding: 20px;
		margin: 25px 0px 25px;
		}
	

	/*Code for footer area of page*/
	.col-md-6 {
		vertical-align:center;
	}
	
	.bot {  
		vertical-align:center;
		text-align: center;
		margin: auto;
		background-color: #AAC9D1;
		padding: 20px;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
		border-radius: 30px;
		display: inline-block;
		width: 100%;	
		bottom:0;
		z-index: 1;
		
	}
	/*Address and social media div css*/
	
	.addr {
		text-align: center;
		background-color: #AAC9D1;
		display:inline-block;
		align-items: center;
		vertical-align: center;
		float: left;
		}	
	
	.social {
		display:inline-block;
		vertical-align: center;
		padding:30px;
		float: right;	
		}
	/* social media buttons*/
	.fa {
		padding: 10px;
		font-size: 30px;
		width: 50px;
		color: white;
		vertical-align:center;
		text-align: center;
		text-decoration: none;
		align-items: center;
		float: right;
		margin: 7px;
		}

	.fa:hover {
		opacity: 0.7;
		color: #FFCC00;
		text-decoration: none;
		}

	.fa-facebook {
		background: #3B5998;
		color: white;
		text-align: center;
		text-decoration: none;
		border-radius: 12px;
		}
	/*Main section of the contact us form page. contains welcome message*/
			
	.center-block {
		font-size:1.6em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:50%;		
		}

		
	/*Code for contact page return to home page button*/
	.goBack-btn {
		background-color: #395186;
		color: #FFCC00;
		font-size:20px;
		padding:15px;
		border-radius: 12px;
		text-align:center;
		text-decoration: none;
		width:100%;
		}
	.goBack-btn:hover {
		opacity: 0.7;
		color: #FFCC00;
		text-decoration: none;
		}
	
	.goback-btn:visited {
		background-color: #395186;
		color: #FFCC00;
		font-size:20px;
		padding:15px;
		border-radius: 12px;
		text-align:center;
		text-decoration: none;
		width:100%;
		}
	/* CSS code for gallery/about sections*/
	.container-fluid {
		background-color: #AAC9D1;
		height:auto;
		float: center;
		text-align: center;
		margin: 25px 0px 25px 0px;
		border-radius: 30px;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
		
	}
	#andiephotos1 {
		background-color: #AAC9D1;
		height:auto;
		color: #000000;
		float: center;
		text-align: center;
		padding: 20px;
		margin: 25px 0px 25px;
		
		}
	
	.gallery1 {
		background-color: white;
		width:80%;
		object-fit: contain;
		padding: 20px;
		margin:10px;
		border-style: solid;
		border-width: 5px;
		border-color: #395186;
	}
	/*reviews section css*/
	
		
	
	#story1:hover {
		font-weight: bold;
		text-decoration: none;
		
		}
	#story2:hover {
		font-weight: bold;
		text-decoration: none;
		}
	#story3:hover {
		font-weight: bold;
		text-decoration: none;
		}	
	
		/* Changing foot div layout for small and mobile screens*/
	@media only screen and (max-width: 990px) {
	
	#pagename {
		
		font-size:22px;
	}
	
	
	#navcolor1 {
		font-size:22px;
	}
	#navcolor2{
		font-size:22px;
	}
	#navcolor3{
		font-size:22px;
	}
	.addr{
		
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
	   
	}
	.social {
		
		position: relative;
		top: -50%;
		right: 50%;
		transform: translate(50%);
		}
	}
	
	
	/* Changing Text for small and mobile screens*/
	@media only screen and (max-width: 825px) {
	
       
    div >h1 {
      font-size: 3.0em;
	}
    div >h2 {
      font-size: 2.3em;
	}
    div>h3 {
      font-size: 2.0em;
	}
	div>h4 {
      font-size: 1.2em;
	}
    p {
      font-size: 1.6em;
	}
   	
	.carousel-caption > h3 {
	font-size: 1.2em
	}
	
	.gallery1 {
		background-color: white;
		width:100%;
		object-fit: contain;
		padding: 20px;
		margin:10px;
		
		 		
	}
   /* Changing footer Text for Smaller screens*/
	@media only screen and (max-width: 460px) {
   
	#pagename {
		
		font-size:15px;
	}
   
   	.logo{
		width:200px; 
		height:auto;
	}
	
		div > h4 {
      font-size: 1.1em;
	} 
	}
	
	/* Code for the footer area on the smallest phones (Galaxy Fold, etc)*/
	@media only screen and (max-width: 346px) {
   
	/* adjustments to padding added to the top of body for the navbar to stick and not cover content. (after bootstrap code) */
	body { 
		padding-top: 100px;
	}
		
	#pagename {
		
		font-size:12px;
	}
	
	#navcolor1   {
		font-size:12px;
	}
	#navcolor2{
		font-size:12px;
	}
		
	#navcolor3{
		font-size:12px;
	}
	.container {
		padding: 10px;
	}
		
   	.bot{
		padding: 5px;
	}
   
      	div>h4 {
      font-size: 1.1em;
	  padding: 2px;
   }
	
		
	/* decreased the size of the social media icons*/
	.fa {
		padding: 4px;
		font-size: 20px;
		width: 30px;
		color: white;
		vertical-align:center;
		text-align: center;
		text-decoration: none;
		align-items: center;
		float: center;
		margin: 2px;
	}
	.goBack-btn {
		font-size:12px;
		padding:15px;
				}
	
	.goback-btn:visited {
		
		font-size:12px;
		padding:15px;
		
		}

	#andiephotos1 {
		
		padding: 3px;
		
		}
	
	.gallery1 {
		
		padding: 5px;
		margin:5px;
		
		 		
	}

	
	}
		
	


		
	
		